@import '../css/_fonts.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Gilroy, sans-serif;
    font-weight: 400;
}

.media{
    max-width: 415px;
    height: 411px;

}

.media1{
    max-width: 350px;
    height: 345px;

}




.header__list{
    display: flex;
    flex-direction: column;
}
.container{
    
    max-width: 1140px;
    width: 100%;
    padding: 0 15px ;
    margin: 0 auto;
}

.nav__content{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
margin-bottom: 30px;
background-color: #f5f5f5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    max-width: 1140px;
    text-align: center; 
  
}
body{
    background-color: #f5f5f5;
    overflow-x: hidden;
   
}
.logo1{
    margin-right: 15px;
    width: 140px;
    height: 54px;
    padding-top: 10px
}
.nav__dropdown{
    border: 1 solid black;
    border-radius: 10px;

}
.logo__content{
    display: flex;
    
}
.nav__dropdown-img1,
.nav__dropdown-img{
    width: 21px;
    height: 17px;
    background:  #F5F5F5;
    border-radius: 20px;
 row-gap: 30px;
   margin: auto;
   display: flex;
   flex-direction: column-reverse;
}
.logo__content>li{
    position: relative;
  
}
.logo__content>li:hover .nav__dropdown{
    opacity: 1;
    pointer-events: all;
    margin: auto;
   
}
.listt{
    margin-bottom: 15px;
    display: flex;
    color: black;
}
.en,
span{
 padding-left: 5px;
 margin: auto;
 
 font-family: Gilroy;
 font-weight: 400;
 color: black;
}


.nav__dropdown{
    position: absolute;
    top: 55px;
 
    pointer-events: none;
    opacity: 0;
 right:10px;
background: #ffffff;
padding: 10px 20px;
border: 1px solid rgb(255, 255, 255);
border-radius: 10px;
box-shadow: #7f2626;
}
.logo2{
    height: 65px;
    width: 92px;
}
.logo{
    width: 152px;
height: 44px;
}


.img1{
max-width: 10px;
}
.media__img{
    color:  #ffc107;
    max-width: 165px;
    height: 49px;
}
.section3,
.section2,
.section1,
.section{
    display: flex;
  
}

.section__title{
    color: #3F3356;
    font-size: 40px;
    width: 700px;
    line-height: 48px;
    margin-bottom: 16px;
    -webkit-text-fill-color: transparent;
    font-family: Gilroy;
    font-weight: 600;
   background: #333;
    -webkit-background-clip: text;
    background-clip: text;

}
.section__text{
    background: var(--04, linear-gradient(145deg, #313331 -5.05%, #181716 105.01%));
background-clip: text;
width: 683px;
font-size: 16px;
font-family: Gilroy;
font-weight: 400;
line-height: 24px; /* 150% */


}
.section2{
    position: relative;
}
.mini__img2{
    position: absolute;
   left: 0;
    top: 0;
    width: 117.499px;
height: 117.499px;

flex-shrink: 0;


transform: translateX(-144px);
}
.mini__img3{
     
    position: absolute;
  right: 0;
   top: 0;
    width: 117.499px;
height: 117.499px;
flex-shrink: 0;
transform: translateY(-144px);

}
.mini__img1{
    
    position: absolute;
    right: 0;
    bottom: 0;
    width: 117.499px;
height: 117.499px;
flex-shrink: 0;
transform: rotate(20.539deg);

}
.section3,
.section2,
.section1,
.section{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 10px;
    position: relative;


}



.href{
    margin-top: 50px;

}
.buttons{
    margin-left: 16px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24p;
    padding: 7px 24px;
border-radius: 16px;
border: none;
color:  #fcf9ff;
cursor: pointer;
background: linear-gradient(95.03deg,#ffaf01 3.18%,#fe6101 96.25%);
font-family: Gilroy;
}

.button{
    font-family: Gilroy;
    border: none;
    background: linear-gradient(95.03deg,#ffaf01 3.18%,#fe6101 96.25%);
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24p;
    padding: 11px 22px;

border-radius: 16px;

color:  #ffffff;

}






.section__title strong{
    background: linear-gradient(95.03deg,#ffaf01 3.18%,#fe6101 96.25%);
    background-clip: text;
}
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: sans-serif;
    line-height: 1.15;
    

   
       
    
      
}

    
.product__title strong {
    background: linear-gradient(95.03deg,#ffaf01 3.18%,#fe6101 96.25%);
    background-clip: text;
    font-family: "Gilroy";
font-weight: 400;
}
.svgs{
    color: #F5F5F5;
}
/* .buttons:hover{
    background: #843AC6;  
    color:#F5F5F5 ;
    transition: 0.3s;
} */
/* .button:hover{
   background: #843AC6;
   color:#F5F5F5 ;
   transition: 0.3s;
} */

.product__title{
    -webkit-text-fill-color: transparent;
   
    font-family: "Gilroy";
    font-weight: 600;
    
    background: #333;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 32px;
    line-height: 23px;
}

/* .href{
    position: absolute;
}
.mini__image1{
   margin: 150px 0;
   left: 650px;
  position: relative;
  right: 0;
}  */

/* .mini__image2{
    position: absolute;
    width: 117px;
   left: 0;
   bottom: 0;
   padding: 0;
} */
.product__text{
    font-family: Gilroy;
margin-top: 16px;
font-size: 16px;
width: 581px;
font-weight: 400;
line-height: 24px;
margin-bottom: 30px;
   

}
.works{
    margin: auto;
}
.nav__content{
    padding: 10px 0;
}
.shop{
display: flex;
}



.shop__text{
    
margin-top: 40px;
font-size: 16px;
font-style: normal;

line-height: 24px; 
background: 145deg, #313331 -5.05%, #181716 105.01%;
background-clip: text;

}
.summ{
    background:   145deg, #313331 -5.05%, #181716 105.01%;
    background-clip: text;
font-size: 20px;
font-weight: 600;
line-height: 24px; 
}

.premiums__twoo{
    display: flex;
    gap: 38px;
}
.logo2{
    cursor: pointer;
}
.logo1{
    cursor: pointer;
}
.footer__contenett{
display: flex;

}
.footer__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo1{
    width: 265px;
    height: 85px;
  right: 80px;
  text-align: center;
  padding-left: 30px;
  cursor: pointer;
}
.footer__logo2{
    width: 150px;
    text-align: center; 
    height: 80px;
    cursor: pointer;
}

.header__footer{
    width: 100%;
    background: linear-gradient(95.03deg,#ffaf01 3.18%,#fe6101 96.25%);
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
}
.grid{
    display: flex;
   cursor: pointer;
}

.grid__title{
    background: 145deg, #313331 -5.05%, #181716 105.01%;
background-clip: text;
font-size: 16px;
font-family: Gilroy;
font-weight: 400;

}
.grid__text{
    font-family: Gilroy;
    font-weight: 600;
 margin-bottom: 20px;
font-size: 20px;
line-height: 24px; 
background: 145deg, #313331 -5.05%, #181716 105.01%;
background-clip: text;


}

.grid__img{
    margin-bottom: 20px;
}
.svgs{
    width: 22px;
height: 22px;


}
.grid__img1{
margin-left: 40px;
padding-bottom: 35px;
}


@media(max-width:1236px){
    .container{
        max-width: 900px;
    }
    .section__text {
        
        width: 481px;
        font-size: 16px;
        
    }
    .section__title {
        font-size: 31px;
        width: 595px;
    }
    .nav__content{
        max-width: 900px;
        z-index: 100;
        width: 100%;
    }
    .media1{
        max-width: 300px;
        height: 300px;
    }
    .media{
        max-width: 300px;
    }
    
    .button {
        
        font-size: 15px;
        
        line-height: 19p;
        padding: 9px 40px;
    }
    .href {
        margin-top: 5px;
    }
    .logo1{
        max-width: 150px;
        height: 35px;
    }
    .logo2{
        height: 40px;
    }
    .buttons {
       
        font-size: 16px;
    padding: 5px 40px;
    }
    .media__img{
        max-width: 140px;
    }
}
@media(max-width:1068px){
    .container{
        max-width: 900px;
    }
    .section__text {
        
        width: 419px;
        line-height: 19px;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .nav__content{
        max-width: 900px;
    }
    .section__title {
        margin-top: 40px;
        font-size: 25px;
        width: 524px;
        line-height: 25px;
        margin-bottom: 4px;
        
    }
    .media1{
        width: 300px;
        height: 270px;
        margin-top: 10px;
    }
    .media{
       width: 305px;

    }
    .logo1{
        max-width: 140px;
        height: 35px;
    }
    .logo2{
        height: 40px;
    }
    .media__img{
        max-width: 140px;
    }
    .section3,
    .section2,
    .section1,
    .section{
        margin-top: 42px;
    }
    .button {
        
        font-size: 15px;
        
        line-height: 19p;
        padding: 9px 40px;
    }
    .href {
        margin-top: 5px;
    }
    .buttons {
       
        font-size: 15px;
       
        padding: 4px 40px;
    }
    .product__title {
       
        font-size: 27px;
        
    }
    .product__text {
        
        font-size: 16px;
        width: 420px;
        
    }
    .grid__text {
      
        font-size: 14px;
        
        line-height: 21px;
       
    }
    .grid__img {
        margin-bottom: 34px;
    }
    .grid__img1 {
        margin-left: 33px;
        padding-bottom: 31px;
       
    }
}
@media(max-width:950px){
    .nav__content{
        max-width: 674px
    }
 .mini__img3,
 .mini__img2{
    width: 84.499px;
    height: 60.499px
 }   
.mini__img1{
    width: 81.499px;
    height: 101.499px;
}
    .container {
        max-width: 775px;
    }
    .media1 {
        max-width: 187px;
    }
    .section__title {
        font-size: 25px;
    width: 371px
    }
   .footer__contentt{
   
    display: flex;
    flex-direction: column;
   }
    .product__title {
        font-size: 22px;
    }
    .media {
       width: 222px;
    }
    .svgs{
        width: 20px;
        height: 13px;
        
    }
    .logo1 {
           max-width: 119px;
    height: 53px;
    }
    .logo2 {
        height: 57px;
    }
    .media__img {
        max-width: 140px;
    }
    .container {
        max-width: 684px;
    }
    .buttons {
        font-size: 15px;
        padding: 4px 16px;
        text-align: center;
    }
    .button {
        font-size: 12px;
        line-height: 19p;
        padding: 6px 16px;
    }
    
    .section__text {
        width: 324px;
        line-height: 18px;
        font-size: 16px;
    }
     .media1 {
        max-width: 224px;
    height: 234px;
    padding-top: 19px;
    } 
    .footer__logo2 {
        width: 209px;
        height: 40px;
        text-align: center;
        padding-left: 35px;
    }
    .footer_1{
        width: 191px;
    }
    .footer__logo1 {
        width: 242px;
        height: 42px;
        text-align: center;
    }
    .media {
        max-width: 224px;
        height: 217px;
    
    
   
           
    }
    
    /* .section1, .section {
        
        margin-bottom: -28px;
    } */
}
@media(max-width:730px){
    
    .nav__dropdown-img1,
    .nav__dropdown-img{
        width: 15px;
        height: 15px;
       
    }
    .listt {
        margin-bottom: 7px;
    }
    .nav__dropdown{
        padding: 6px 9px;
        top: 45px;
    }
  
    .en, span {
        padding-left: 2px;
    }
    
    
    
    
    .container {
        max-width: 573px;
    }
    .mini__img2,
    .mini__img3,
     .mini__img1{
       opacity: 1;
       transform: translatey(0);
       width: 0;
     }
    .nav__content{
        max-width: 573px;
    }
    .section__title {
        font-size: 23px;
        width: 353px;
        line-height: 22px;
    }
   
    .media1 {
        max-width: 219px;
        height: 213px;
    }
    .logo1 {
        max-width: 91px;
        height: 28px;
    }
    .logo2 {
        height: 36px;
    }
    .media__img {
        max-width: 116px;
    }
    .product__title {
        font-size: 17px;
    }
    .product__text {
        font-size: 16px;
        width: 306px;
        margin-bottom: 12px;
        margin-top: 1px;
    }
    .grid__title{
        font-size: 15px;
    }
    .grid__text {
        font-size: 17px;
        line-height: 25px;
    }
    .grid__img1 {
        width: 55px;
        height: 50px;
        margin-left: 13px;
        padding-bottom: 0px;
    }
    .grid__img {
        width: 55px;
        height: 55px;
    }
    .buttons {
        font-size: 10px;
        padding: 6px 20px;
    }
    }
  

@media(max-width:600px){
 .mini__img2,
 .mini__img3,
  .mini__img1{
    opacity: 1;
    transform: translatey(0);
    width: 0;
  }
  .grid{
    display: block;
  }
    .section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
       
        margin-top: 15px;

    }
    .section3{
        display: flex;
        flex-direction: column-reverse;
    }
    .section2,
    .section1{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
.media1 {
    max-width: 229px;
    height: 201px;
    margin-top: 40px;
    
}
.header__footer {
   
    padding-bottom: 0;

}
.media__img {
    max-width: 98px;
}
.product__title {
    font-size: 20px;
    margin-bottom: 20px;
}
.logo1 {
    max-width: 66px;
    height: 21px;
    
        margin-right: 8px;
   
}
.section__title{
    text-align: center;
    margin-bottom: 12px;
    font-size: 21px;
}
.grid__title{
    font-size: 14px;
}
.grid__img{
    margin-bottom: 7px;
    width: 48px;
    height: 49px
}
.grid__text{
    font-size: 14px;
    margin-bottom: -7px;
}
.section__text{
    text-align: center;
    width: 354;
    margin: auto;
    margin-bottom: 20px;
    
}
.section3,
.section2,
.section1{
    text-align: center;
}
.section{
    text-align: center;
}
.logo2 {
    height: 48px;
}
.nav__content {
    max-width: 427px;
}
.container {
    max-width: 390px;
}
.nav__content{
    max-width: 390px;
}
.product__text{
    line-height: 17px;
    margin-top: 5px;
    font-size: 16px;
    width: 321px;
    text-align: center;
    margin: auto;
    
}
.footer_1 {
    width: 162px;
}
.footer__logo2 {
    
    border-radius: 4px;
   
    -o-object-fit: contain;
    object-fit: contain;
   width: 70%;
   height: 100%;
 
}
.footer__logo1 {
  height: 80%;
  width: 80%;
  

}

.grid__img {
    margin-bottom: 18px;

}
.button{
    padding: 8px 23px;
    margin-top: 12px;
    margin-bottom: 20px;
}
.buttons{
    font-size: 10px;
    padding: 7px 16px;
}

.footer__logo{
    display: flex;
  flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-top: 14px;
    padding-bottom: 16px;
    margin: auto;
  
}
.footer_1{
    margin-bottom: 9px;
  
}
.product__text{
    margin-bottom: 26px;
}
.logo1{
    max-width: 76px;
    height: 44px;
    margin-right: 1px
}
.header__footer{
    padding-top: 2px;
    
}
.footer__contentt{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
} 
} 
@media(max-width:400px){
    .nav__dropdown-img1,
    .nav__dropdown-img{
        width: 14px;
        height: 14px;
    }
    .listt {
        margin-bottom: 7px;
    }
    .nav__dropdown{
        padding: 2px 6px;
        top: 45px;
    }
  
    .en, span {
        padding-left: 2px;
    }
    .container {
        max-width: 321px;
    }
    .buttons {
        font-size: 8px;
    padding: 5px 7px;

       
    }
    .nav__content{
        max-width: 296px;
        z-index: 100;
    }
    .media1 {
        max-width: 204px;
        height: 164px;
    }
    .section__title {
        font-size: 17px;
        width: 250px;
        line-height: 16px;
      margin: auto;
      margin-bottom: 10px;
    }
    .section__text{
        width: 256px;
        line-height: 16px;
        margin: auto;
        margin-bottom: 5px;
       
     
    }
    .header__footer{
        padding-bottom: 0px;
    }
    
    .button {
        font-size: 9px;
        line-height: 19px;
        padding: 4px 26px;
    }
    .media {
        max-width: 184px;
        height: 172px;
        
    }
    .grid__img{
        padding-left: 0;

    }
    .product__text {
        line-height: 18px;
        margin-top: 5px;
        width: 246px;
        font-size: 16px;
        text-align: center;
        
        margin: auto;
        padding-bottom: 5px;
    }
    .product__title {
        font-size: 19px;
        margin-bottom: 13px;
      
    }
    .media__img {
        max-width: 106px;
    }
    
    
    .logo2 {
        height: 49px;
        width: 56px;
    }
    .logo1 {
        max-width: 76px;
    height: 43px;
    margin-right: 3px;
    }
    .grid__text{
        margin-bottom: 6px;
    }
  
 
    
}